*{
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* @media screen (max-width: 800px){
    font-size:30%;
  } */
    
  
}
body {
  width: 100%;
  height: 100vh;
  background: grey;
  padding: 20px;
}